@{
    ViewData["Title"] = "Home Page";
}

<body class="p-3 mb-2 bg-success text-white">
    <h1 class="display-1 p-3 mb-2 bg-primary bg-gradient text-white">Welcome to Fonseca's Finer Things</h1>
    <img src="~/images/Fonsecas Finer Things logo.png" alt="Fonsecas Finer Things logo" class="img-fluid" />

    <br />
    <br />

    <div class="p-3 mb-2 bg-warning table-responsive">
        <table class="text-dark table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Product Type</th>
				    <th scope="col">Description</th>
                    <th scope="col">Typical Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Small Cutting Board</td>
				    <td>Handmade cutting board (2ft x 1ft)</td>
                    <td>$25</td>
                </tr>
                <tr>
                    <td>Small Cutting Board with Epoxy</td>
                    <td>Handmade cutting board (2ft x 1ft) with epoxy resin inlay</td>
                    <td>$35</td>
                </tr>
			    <tr>
				    <td>Wood Turning Craft with Epoxy</td>
				    <td>Handmade wood turned pen with epoxy resin inlay</td>
				    <td>$15</td>
			    </tr>
            </tbody>
        </table>
    </div>

    <br />

    <h2 class="display-2 p-3 mb-2 bg-info bg-gradient text-dark">Introduction</h2>
        <p class="lead">
            This is a starting sample of a home page for the creation of Fonseca's Finer Things site. 
            It displays a table of products with their descriptions and prices.
        </p>
        <br />
</body>